<h1>Fundamental SQL Using INNER JOIN and UNION</h1>

# 1. Penggabungan Tabel dari Relasi Kolom

## 1.1 Tugas Praktek

```SQL
select * from ms_item_kategori;
select * from ms_item_warna;
```

## 1.2 Menggabungkan Tabel dengan Key Columns

```SQL
select * from ms_item_kategori, ms_item_warna
where nama_barang=nama_item;
```

## 1.3 Bagaimana jika urutan Tabel diubah?

```SQL
select * from ms_item_warna, ms_item_kategori
where nama_barang = nama_item;
```

## 1.4 Menggunakan Prefix Nama Tabel

```SQL
select ms_item_kategori.*, ms_item_warna.*
from ms_item_warna, ms_item_kategori
where nama_barang = nama_item;
```

## 1.5 Penggabungan Tanpa Kondisi

mekanisme **cross join**

```SQL
select * from ms_item_kategori, ms_item_warna;
```

# 2. INNER JOIN

## 2.1 Tugas Praktek: Menggunakan INNER JOIN (1/3)

```SQL
select * from ms_item_warna
inner join ms_item_kategori
on ms_item_warna.nama_barang = ms_item_kategori.nama_item;
```

## 2.2 tabel tr_penjualan dan tabel ms_produk

```SQL
select * from tr_penjualan;
select * from ms_produk;
```

## 2.3 Tugas Praktek: Menggunakan INNER JOIN (2/3)

```SQL
select * from tr_penjualan
inner join ms_produk
on tr_penjualan.kode_produk = ms_produk.kode_produk;
```

## 2.4 Tugas Praktek: Menggunakan INNER JOIN (3/3)

Catatan:
Perlu diperhatikan jika menampilkan kolom dengan nama yang sama di kedua tabel, maka pada bagian **Select**, tidak bisa hanya mengetikkan nama kolom saja, tetapi juga harus didahului oleh prefix nama tabel dimana kolom itu berasal untuk menghindari error karena ambiguitas"

```SQL
SELECT tr_penjualan.kode_transaksi, tr_penjualan.kode_pelanggan, tr_penjualan.kode_produk, 
tr_penjualan.qty, ms_produk.nama_produk, ms_produk.harga, 
ms_produk.harga * tr_penjualan.qty as total
FROM tr_penjualan
INNER JOIN ms_produk
ON tr_penjualan.kode_produk = ms_produk.kode_produk;
```

# 3. UNION

* Setiap hasil dari SELECT statement yang akan digabungkan (UNION) memiliki jumlah kolom yang sama
* Kolom tersebut juga harus memiliki tipe data yang sama, dan
* Kolom tersebut memiliki urutan posisi yang sama.

## 3.1 Tabel yang Akan Digabungkan

```SQL
select * from tabel_A;
select * from tabel_B;
```

## 3.2 Menggunakan UNION

```SQL
select * from tabel_A
union
select * from tabel_B;
```

## 3.3 Menggunakan UNION dengan Klausa WHERE

```SQL
select * from tabel_a
where kode_pelanggan = 'dqlabcust03'
union
select * from tabel_b
where kode_pelanggan = 'dqlabcust03';
```

## 3.4 Menggunakan UNION dan Menyelaraskan Kolom-Kolomnya.

```SQL
select customername, contactname, city, postalcode
from customers
union
select suppliername, contactname, city, postalcode
from suppliers;
```

# 4. Mini Project

## 4.1 Project INNER JOIN

```SQL
select distinct ms_pelanggan.kode_pelanggan, ms_pelanggan.nama_customer, ms_pelanggan.alamat
from ms_pelanggan
inner join tr_penjualan
on ms_pelanggan.kode_pelanggan = tr_penjualan.kode_pelanggan
where tr_penjualan.nama_produk = 'Kotak Pensil DQLab' 
or tr_penjualan.nama_produk = 'Flashdisk DQLab 32 GB' 
or tr_penjualan.nama_produk = 'Sticky Notes DQLab 500 sheets';
```

## 4.2 Project UNION

```SQL
select kode_produk, nama_produk, harga
from ms_produk_1
where harga < 100000
union
select kode_produk, nama_produk, harga
from ms_produk_2
where harga < 50000;
```