<h1>Fundamental SQL Using SELECT Statement</h1>

# 1. Penggunaan Perintah SELECT … FROM …

## 1.1 Mengambil Seluruh Kolom dalam suatu Tabel

```SQL
select * from ms_produk;
```

## 1.2 Mengambil Satu Kolom dari Tabel

```SQL
select nama_produk from ms_produk;
```

## 1.3 Mengambil Lebih dari Satu Kolom dari Tabel

```SQL
select nama_produk, harga from ms_produk;
```

## 1.4 Membatasi Pengambilan Jumlah Row Data

```SQL
select nama_produk, harga from ms_produk limit 5;
```

## 1.5 Penggunaan SELECT DISTINCT statement

```SQL
select distinct nama_customer, alamat from ms_pelanggan;
```

# 2. Prefix dan Alias

## 2.1 Menggunakan Prefix pada Nama Kolom

```SQL
select ms_produk.kode_produk from ms_produk;
```

## 2.2 Menggunakan Alias pada Kolom

```SQL
select no_urut as nomor, nama_produk as nama from ms_produk;
```

## 2.3 Menghilangkan Keyword 'AS'

```SQL
select no_urut nomor, nama_produk nama from ms_produk;
```

## 2.4 Menggabungkan Prefix dan Alias

```SQL
select ms_produk.harga as harga_jual from ms_produk;
```

## 2.5 Menggunakan Alias pada Tabel

```SQL
select * from ms_produk t2;
```

## 2.6 Prefix dengan Alias Tabel

```SQL
select t2.nama_produk, t2.harga from ms_produk t2;
```

# 3. Menggunakan Filter

## 3.1 Menggunakan WHERE

```SQL
select * from ms_produk where nama_produk = 'Tas Travel Organizer DQLab';
```

## 3.2 Menggunakan Operand OR

```SQL
select * from ms_produk where nama_produk = 'Gantungan Kunci DQLab' or nama_produk = 'Tas Travel Organizer DQLab' or nama_produk = 'Flashdisk DQLab 64 GB';
```

## 3.3 Filter untuk Angka

```SQL
select * from ms_produk where harga > 50000;
```

## 3.4 Menggunakan Operand AND

```SQL
select * from ms_produk where nama_produk = 'Gantungan Kunci DQLab' and harga < 50000;
```

# 4. Mini Project

## 4.1 Proyek dari Cabang A

```SQL
select kode_pelanggan,
nama_produk, 
qty,
harga,
qty*harga as total 
from tr_penjualan
where qty*harga >= 100000
order by total desc;
```