<h1>Fundamental SQL Using FUNCTION and GROUP BY</h1>

# 1. Fungsi di SQL

## 1.1 Fungsi Skalar Matematika - ABS()

```SQL
select studentid, firstname, lastname, semester1, semester2, abs(markgrowth) as markgrowth
from students;
```

## 1.2 Fungsi Skalar Matematika - CEILING()

```SQL
select studentid, firstname, lastname, ceiling(semester1) as semester1, ceiling(semester2) as semester2, markgrowth
from students;
```

## 1.3 Fungsi Skalar Matematika - FLOOR()

```SQL
select studentid, firstname, lastname, floor(semester1) as semester1, floor(semester2) as semester2, markgrowth
from students;
```

## 1.4 Fungsi Skalar Matematika - ROUND()

```SQL
select studentid, firstname, lastname, round(semester1, 1) as semester1, round(semester2, 0) as semester2, markgrowth
from students;
```

## 1.5  Fungsi Skalar Matematika - SQRT()

```SQL
select studentid, firstname, lastname, sqrt(semester1) as semester1, semester2, markgrowth
from students;
```

## 1.6 Tugas Praktek

```SQL
select studentid, firstname, lastname, mod(semester1, 2) as semester1, semester2, exp(markgrowth)
from students;
```

# 2. Fungsi Text di SQL

## 2.1 Fungsi Text - CONCAT()

```SQL
select studentid, concat(firstname, lastname) as name, semester1, semester2, markgrowth
from students;
```

## 2.2 Fungsi Text - SUBSTRING_INDEX()

```SQL
select studentid, substring_index(email, '@', 1) as name
from students;
```

## 2.3 Fungsi Text - SUBSTR()

```SQL
select studentid, substr(firstname, 2, 3) as initial
from students;
```

## 2.4 Fungsi Text - LENGTH()

```SQL
select studentid, firstname, length(firstname) as total_char
from students;
```

## 2.5 Fungsi Text - REPLACE()

```SQL
select studentid, email, replace(email, 'yahoo', 'gmail') as new_email
from students;
```

## 2.6 Tugas Praktek

```SQL
select studentid, upper(firstname) as firstname, lower(lastname) as lastname
from students;
```

# 3. Fungsi Aggregate dan Group By

Hal penting yang perlu diperhatikan adalah: 
- GROUP BY digunakan dengan SELECT, artinya kolom yang digunakan di GROUP BY statement, juga perlu ditempatkan di SELECT.
- GROUP BY ditempatkan **setelah** WHERE, tetapi jika tidak menggunakan WHERE maka langsung ditempatkan **setelah** FROM. 
- Jika menggunakan ORDER BY, maka GROUP BY ditempatkan **sebelum** ORDER BY. 


GROUP BY Single Column, data dikelompokkan menggunakan kriteria dari **satu kolom saja**, misalnya mengelompokkan data berdasarkan provinsi saja. 
GROUP BY Multiple Column, data dikelompokkan menggunakan kriteria dari **dua kolom atau lebih**, misalnya mengelompokkan data berdasarkan province dan brand.

## 3.1 Fungsi Aggregate - SUM()

```SQL
select sum(semester1) as total_1, sum(semester2) as total_2
from students;
```

## 3.2 Fungsi Aggregate - COUNT()

```SQL
select count(firstname) as total_student
from students;
```

## 3.3 Fungsi Aggregate - AVG()

```SQL
select avg(semester1) as avg_1, avg(semester2) as avg_2
from students;
```

## 3.4 Tugas Praktek

```SQL
select min(semester1) as min1, max(semester1) as max1, min(semester2) as min2, max(semester2) as max2
from students;
```

## 3.5 Group by Single Column

```SQL
select province,
count(distinct order_id) as total_order,
sum(item_price) as total_price
from sales_retail_2019
group by province;
```

## 3.6 Group by Multiple Column

```SQL
select province,
brand,
count(distinct order_id) as total_order,
sum(item_price) as total_price
from sales_retail_2019
group by province, brand;
```

## 3.7 Fungsi Aggregate dengan Grouping

```SQL
select province,
count(distinct order_id) as total_unique_order,
sum(item_price) as revenue
from sales_retail_2019
group by province;
```

## 3.8 Tugas Praktek

```SQL
SELECT month(order_date) AS order_month, sum(item_price) AS total_price, 
CASE  
    WHEN sum(item_price) >= 30000000000 THEN 'target achieved'
    WHEN sum(item_price) <= 25000000000 THEN 'less performed'
    ELSE 'follow up'
END as remark
FROM sales_retail_2019
GROUP BY order_month;
```

# 4. Mini Project

## 4.1 Proyek Pekerjaan - Analisis Penjualan Part 1

```SQL
## 1. Total jumlah seluruh penjualan (total/revenue).
SELECT sum(total) as total 
FROM tr_penjualan;
## 2. Total quantity seluruh produk yang terjual.
SELECT sum(qty) as qty 
FROM tr_penjualan;
## 3. Total quantity dan total revenue untuk setiap kode produk.
SELECT kode_produk, sum(qty) as qty, sum(total) as total 
FROM tr_penjualan
GROUP BY kode_produk;
```

## 4.2 Proyek Pekerjaan - Analisis Penjualan Part 2

```SQL
## 4. Rata - Rata total belanja per kode pelanggan.
SELECT kode_pelanggan, avg(total) as avg_total 
FROM tr_penjualan
GROUP BY kode_pelanggan;
## 5. Selain itu,  jangan lupa untuk menambahkan kolom baru dengan nama ‘kategori’ yang mengkategorikan total/revenue ke dalam 3 kategori: High: > 300K; Medium: 100K - 300K; Low: <100K.
SELECT kode_transaksi,kode_pelanggan,no_urut,kode_produk, nama_produk, qty, total,
CASE  
    WHEN total > 300000 THEN 'High'
    WHEN total < 100000 THEN 'Low'   
    ELSE 'Medium'  
END as kategori 
FROM tr_penjualan;
```